header{
display: flex;
align-items: center;
z-index: 1;
width: 100%;
height: 80px;
border-bottom: 1px solid black;
background-color: white;
font-family: Verdana;
font-size: 14px;
font-weight: bold;
}

header nav{
  padding-right: 40px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

nav a{
  color: black;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span{
  color: MediumAquamarine;
}

.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.content{

}

.column_left{
  border: 1px solid black;
}

.column_center{
  border: 1px solid black;
}

.column_right{
  border: 1px solid black;
}

.lead-story{
border: 1px solid black;
}

.image-content{
border: 1px solid black;
}

.image-content_b{
border: 1px solid black;
}

.image-content_c{
border: 1px solid black;
}

.narrative{
border: 1px solid black;
}

.story{
border: 1px solid black;
}

.stories{
border: 1px solid black;
}

.text-content{
border: 1px solid black;
}
